.workspace {
  display: grid;
  grid-template-columns: minmax(16rem, 0.7fr) minmax(0, 1.7fr);
  gap: var(--space-medium);
  align-items: start;
}

@media (width <= 1050px) {
  .workspace {
    grid-template-columns: 1fr;
  }
}
