.container {
  margin: 0;
  padding: 10vh var(--space-medium) var(--space-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 9em;
  padding: var(--space-large);
  transition: filter 0.75s;
}

.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-small);
}

.error {
  color: var(--color-error);
}
